body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(#283d5f, #111b2a);
    height: 100vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin: 100px 0;
    flex-direction: column;
}

.pocket {
    font-size: 60px;
}

.caixas{
    width: 600px;
    padding-bottom: 100px;
    font-size: 13px;
}

.caixa {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 10px 0;
}

.input{
    background: #111b2a;
    border-radius: 8px;
    border: none;
    height: 30px;
    color: aliceblue;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    height: 140px;
    flex-wrap: wrap;
}

#critica{
    background: #111b2a;
    border-radius: 8px;
    border: none;
}

#dataDeLancamento, #dataAssistido {
    color: rgb(105, 105, 105);
    padding: 8px;
    box-sizing: border-box;
}

.botao-adicionar{
    text-align: center;
    width: 150px;
    border-radius: 8px;
    border: #111b2a;
    background-color: #283d5f;
    color: whitesmoke;
    padding: 8px;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
}

.botao-adicionar:hover{
    transform: scale(1.1);
}

.botao-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

/*Página Cards de Filmes*/

#pesquisaFilmes{
    background: #111b2a;
    border-radius: 8px;
    border: none;
    height: 30px;
    width: 600px;
    color: aliceblue;
    padding-left: 10px;
    margin-bottom: 50px;
}

.botao-pesquisar{
    background-color: #132849;
    border: none;
    cursor: pointer;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 10px 50px;
    height: auto;
}

.card{
    background-color: #273955;
    width: 420px;
    height: 200px;
    border: 1px solid #132849;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    border-radius: 15px;
    margin: 10px;
}

.card:hover {
    border: 2px solid #724d94;

}

.conteudo{
    height: 222px;
    padding: 20px;
    font-size: 12px;
}

.titulo{
    font-size: 17px;
    margin: 0;
    margin-bottom: 10px;
}

.classificacao{
    display: flex;
    width: 100%;
    height: 25px;
    align-items: center;
    
}

.nota{
    color: gold;
}

.icone-estrela { 
    margin-right: 3px;
    width: auto;
}

.estrela{
    width: 15px;
    height: 15px;
}

.img-poster{
    width: 135px;
    height: 200px;
    border-radius: 15px 0 0 15px;
}

.container-botoes{
    display: flex;
    align-items: flex-end;
    height: 200px;
}

.botoes-card{
    border: 1px solid #132849;
    border-radius: 80px;
    width: 70px;
    text-align: center;
    padding: 3px;
    height: 17px;
    margin-bottom: 10px;
    cursor: pointer;
}

.lixeira{
    background-color: #273955;
    border: none;
    cursor: pointer;
}

.lixeira:hover{
    transform: scale(1.3);
}

.botao-verMais{
    background-color: #273955;
    border: none;
    cursor: pointer;
}

.botao-verMais:hover{
    transform: scale(1.3);
}
